.avatar {
  display: table-cell;
  height: 1.9em;
  width: 1.9em;
  border: 0.2em solid black;
  border-radius: 50%;
  
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  
  box-shadow: 4px 4px 4px grey;
}

.btn-buy {
  width: 6.3em;
}

.btn-sell {
  width: 6.1em;
}

.btn-buy .currency,.btn-sell .currency {
  margin-left: 0.5em;
}

.market-row, .crew-row {
  display: flex;
  align-items: center;
}
.market-row .avatar,
.crew-row .avatar {
  margin-right: 1em;
}

.crew-row button {
  margin-left: 1em;
}

.results-pill {
  font-size: 10pt;
  margin: 0em;
}
.results-pill :first-child {
  border-radius: 1em 0em 0em 1em;
  width: 2.5em;
}
.results-pill :nth-child(2) {
  width: 0.15em;
}
.results-pill :last-child {
  border-radius: 0em 1em 1em 0em;
  width: 2.5em;
}
