{% extends 'core/base.html' %}
{% load fantasy_tags %}
{% load static %}

{% block page_head %}
<link rel="stylesheet" type="text/css" href="{% static 'fantasy/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fantasy/club_styles.css' %}">
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md mb-3">
      <h1>{{ event }}</h1>
      <div class="mb-3">
        {{ event.first_day.date|date:"l F jS" }} - {{ event.last_racing_day.date|date:"l F jS" }}
      </div>
      <div class="card card-body bg-light text-dark">
        <a href="https://bumps.live/" target="_blank" class="text-reset text-decoration-none">
          <div class="d-flex justify-content-between">
          <div>
            <image src="https://bumps.live/blades.png" style="height: 3.5em">
          </div>
          <div>
            <span>In collaboration with</span>
            <h3 class="mb-0">Live Bumps</h3>
          </div>
          <div>
            <image src="https://bumps.live/spoons.png" style="height: 3.5em">
          </div>
        </div></a>
      </div>
    </div>
    <div class="col-md mb-3">
      <div class="list-group">
        <div class="list-group-item list-group-item-primary">
          <div class="row justify-content-between">
            <span class="ml-3">Leaderboard</span>
            <a
              href="{% url 'fantasy:leaderboard' event.tag %}"
              class="btn btn-primary btn-sm"
              style="padding-top: 0.1em; padding-bottom: 0.1em; margin: 0"
            >
              See all
            </a>
          </div>
        </div>
        {% for fantasy in fantasies %}
        {% mini_leaderboard_row forloop.counter fantasy event %}{% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md mb-3">
      <div class="list-group">
        <div class="list-group-item list-group-item-primary">Most Popular Men's Crews</div>
        {% for crew in popular_crews_men %}
        {% popularity_row forloop.counter crew %}{% endfor %}
      </div>
    </div>
    <div class="col-md mb-3">
      <div class="list-group">
        <div class="list-group-item list-group-item-primary">Most Popular Women's Crews</div>
        {% for crew in popular_crews_women %}
        {% popularity_row forloop.counter crew %}{% endfor %}
      </div>
    </div>
  </div>
{% endblock %}
