{% load fantasy_tags %}
  <div class="card mb-3">
    <div class="card-header text-dark d-flex justify-content-between">
      <h4 class="mb-0">
        {{ event }}{% if user.is_superuser %}
        &nbsp;
        {% include 'fantasy/market-held-closed-toggle.html' %}{% endif %}
      </h4>
      <a href="{% url 'fantasy:event' event.tag %}" class="btn btn-primary btn-sm" style="width: 2.2em">
        <small><span class="oi oi-chevron-right"></span></small>
      </a>
    </div>
    <div class="card-body pb-0">
      <div class="row">
        <div class="col-xl-3 mb-3 alert">
          {{ event.first_day.date|date:"l" }}&nbsp;{{ event.first_day.date|date:"M" }}&nbsp;{{ event.first_day.date|date:"jS" }}
          - {{ event.last_racing_day.date|date:"l" }}&nbsp;{{ event.last_racing_day.date|date:"M" }}&nbsp;{{ event.last_racing_day.date|date:"jS" }}
        </div>
        <div class="col-xl-6">
          <table class="table table-sm table-borderless">
            <tr>
              <th class="align-middle text-center">Men's crew</th>
              <td class="align-middle">
                {{ event.user_fantasy.mens_budget|default:money.INITIAL_BALANCE|currency }}
                 / {{ event.user_fantasy.mens_crew_value|default:0|currency }}
              </td>
              <td class="align-middle" style="width: 35%">
                {% crew_ready_button event genders.MEN %}
              </td>
            <tr>
            <tr>
              <th class="align-middle text-center">Women's crew</th>
              <td class="align-middle">
                {{ event.user_fantasy.womens_budget|default:money.INITIAL_BALANCE|currency }}
                 / {{ event.user_fantasy.womens_crew_value|default:0|currency }}
              </td>
              <td class="align-middle" style="width: 20%">
                {% crew_ready_button event genders.WOMEN %}
              </td>
            <tr>
          </table>
        </div>
        <div class="col-xl-3 text-center">
          {% market_status_box event.active_day False %}
        </div>
      </div>
    </div>
  </div>
