{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block content %}

<form method="post">
  {% csrf_token %}
  <table class="table table-borderless">
  {% for field in form %}
  <tr>
    <th class="text-right">{{ field.label }}</th>
    <td>{{ field }}</td>
    <td>{{ field.errors }}</td>
  </tr>
  {% endfor %}
    <tfoot><tr>
      <td></td>
      <td><input type="submit" value="Buy"></td>
      <td></td>
    </tr></tfoot>
  </table>
</form>

{% endblock%}
