{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block page_head %}
<style type="text/css">
  .table>thead>tr>th {
    vertical-align: top;
  }
</style>
{% endblock %}

{% block content %}
<div class="row"><div class="col">
  <h3>{% if ranking == GENDERS_OVERALL %}Overall{% elif ranking == genders.MEN %}Men's{% else %}Women's{% endif %} ranking</h3>
  <div class="mb-3">
    {% if ranking == GENDERS_OVERALL %}Teams are ranked by the total number of crabs accumulated and then by the combined value of their crews.
    {% else %}Teams are ranked by the number of crabs their {{ ranking.label|lower }}'s crew has accumulated and then by the value of their {{ ranking.label|lower }}'s crews.{% endif %}
  </div>

<table class="table table-hover table-sm table-responsive-md text-center">
  <thead class="thead-light"><tr>
    <th>Rank</th>
    <th class="text-left">Team</th>
    <th>
      <span>Overall</span>
      <a href="{% url 'fantasy:leaderboard' event.tag %}" class="btn btn-{% if ranking == GENDERS_OVERALL %}success{% else %}primary{% endif %} btn-sm px-1 py-0 ml-2">
        <small><span class="oi oi-sort-descending"></span></small>
      </a>
    </th>
    <th>
      Men
      <a href="{% url 'fantasy:leaderboard_men' event.tag %}" class="btn btn-{% if ranking == genders.MEN %}success{% else %}primary{% endif %} btn-sm px-1 py-0 ml-2">
        <small><span class="oi oi-sort-descending"></span></small>
      </a>
    </th>
    <th>
      Women
      <a href="{% url 'fantasy:leaderboard_women' event.tag %}" class="btn btn-{% if ranking == genders.WOMEN %}success{% else %}primary{% endif %} btn-sm px-1 py-0 ml-2">
        <small><span class="oi oi-sort-descending"></span></small>
      </a>
    </th>
    <th>Crews</th>
  </tr></thead>
  <tbody>
    {% for fantasy in fantasies %}<tr {% if fantasy.team == team %}class="table-info"{% endif %}>
      <td>{{ forloop.counter }}</td>
      <td class="text-left">{{ fantasy.team }}</td>
      <td>
        <span>{{ fantasy.total_budget }}</span>
        <small>{{ fantasy.total_crew_value }}</small>
      </td>
      <td>
        <span>{{ fantasy.mens_budget }}</span>
        <small>{{ fantasy.mens_crew_value }}</small>
      </td>
      <td>
        <span>{{ fantasy.womens_budget }}</span>
        <small>{{ fantasy.womens_crew_value }}</small>
      </td>
      <td class="align-middle">
        <a href="{% url 'fantasy:team' event.tag fantasy.team.user.username %}" class="btn btn-secondary btn-sm pt-0 pl-2 pr-2" style="padding-bottom: 2px">
          <small><span class="oi oi-chevron-right"></span></small>
        </a>
      </td>
    </tr>{% endfor %}
  </tbody>
</table>
</div></div>

{% endblock %}
