{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block page_head %}
<style type="text/css">
  .table>thead>tr>th {
    vertical-align: top;
    border-top: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }
  .narrow-column {
    width: 10em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>

<script type="text/javascript">
  $(document).ready(function () {
    $('[data-toggle="tooltip"]').tooltip();
  });
</script>
{% endblock %}

{% block content %}
<div class="row"><div class="col">
  <h3>{% if ranking == GENDERS_OVERALL %}Overall{% elif ranking == genders.MEN %}Men's{% else %}Women's{% endif %} ranking</h3>
  <div class="mb-3">
    {% if ranking == GENDERS_OVERALL %}Teams are ranked by the total number of crabs accumulated and then by the combined value of their crews.
    {% else %}Teams are ranked by the number of crabs their {{ ranking.label|lower }}'s crew has accumulated and then by the value of their {{ ranking.label|lower }}'s crews.{% endif %}
  </div>

  <div class="card mb-3">
    <table class="table table-hover table-sm table-responsive-md text-center mb-0 mt-0">
      <thead class="thead-light"><tr>
        <th>Rank</th>
        <th class="text-left">Team</th>
        <th>
          <span>Overall</span>
          <a href="{% url 'fantasy:leaderboard' event.tag %}" class="btn btn-{% if ranking == GENDERS_OVERALL %}success{% else %}primary{% endif %} btn-sm px-1 py-0 ml-1">
            <small><span class="oi oi-sort-descending"></span></small>
          </a>
        </th>
        <th>
          <span>Men</span>
          <a href="{% url 'fantasy:leaderboard_men' event.tag %}" class="btn btn-{% if ranking == genders.MEN %}success{% else %}primary{% endif %} btn-sm px-1 py-0 ml-1">
            <small><span class="oi oi-sort-descending"></span></small>
          </a>
        </th>
        <th>
          <span>Women</span>
          <a href="{% url 'fantasy:leaderboard_women' event.tag %}" class="btn btn-{% if ranking == genders.WOMEN %}success{% else %}primary{% endif %} btn-sm px-1 py-0 ml-1">
            <small><span class="oi oi-sort-descending"></span></small>
          </a>
        </th>
        <th>Crews</th>
      </tr></thead>
      <tbody>
        {% for fantasy in fantasies %}<tr {% if fantasy.team == team %}class="table-info"{% endif %}>
          <td>{{ forloop.counter }}</td>
          <td class="text-left">
            <div class="team-name d-none d-md-block">{{ fantasy.team }}</div>
            <div class="narrow-column d-block d-md-none" data-toggle="tooltip" data-placement="bottom" title="{{ fantasy.team }}">{{ fantasy.team }}</div>
          </td>
          <td>
            <span>{{ fantasy.total_budget }}</span>
            <small>{{ fantasy.total_crew_value }}</small>
          </td>
          <td>
            <span>{{ fantasy.mens_budget }}</span>
            <small>{{ fantasy.mens_crew_value }}</small>
          </td>
          <td>
            <span>{{ fantasy.womens_budget }}</span>
            <small>{{ fantasy.womens_crew_value }}</small>
          </td>
          <td class="align-middle">
            <a href="{% url 'fantasy:team' event.tag fantasy.team.user.username %}" class="btn btn-secondary btn-sm pt-0 pl-2 pr-2" style="padding-bottom: 2px">
              <small><span class="oi oi-chevron-right"></span></small>
            </a>
          </td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
</div></div>

{% endblock %}
