{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block content %}
Fantasy Bumps leaderboard page for {{ event }}.

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <th>Rank</th>
    <th>Team</th>
    <th><a href="{% url 'fantasy:leaderboard' event.tag %}">Total Score (Crew&nbsp;Value)</a></th>
    <th><a href="{% url 'fantasy:leaderboard_men' event.tag %}">Men's Score (Crew&nbsp;Value)</a></th>
    <th><a href="{% url 'fantasy:leaderboard_women' event.tag %}">Women's Score (Crew&nbsp;Value)</a></th>
  </thead>
  <tbody>
    {% for fantasy in fantasies %}<tr
      {% if fantasy.team == team %}class="table-warning"{% elif forloop.counter == 1 %}class="table-success"{% endif %}
    >
      <td>{{ forloop.counter }}</td>
      <td><a href="{% url 'fantasy:team' event.tag fantasy.team.user.username %}">{{ fantasy.team }}</a></td>
      <td class="{% if ranking == GENDERS_OVERALL %}table-primary{% endif %}">{{ fantasy.total_budget }} ({{ fantasy.total_crew_value }})</td>
      <td class="{% if ranking == genders.MEN %}table-primary{% endif %}">{{ fantasy.mens_budget }} ({{ fantasy.mens_crew_value }})</td>
      <td class="{% if ranking == genders.WOMEN %}table-primary{% endif %}">{{ fantasy.womens_budget }} ({{ fantasy.womens_crew_value }})</td>
    </tr>{% endfor %}
  </tbody>
</table>

{% endblock %}
