{% extends 'core/base.html' %}
{% load fantasy_tags %}
{% load static %}

{% block page_head %}
<link rel="stylesheet" type="text/css" href="{% static 'fantasy/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fantasy/club_styles.css' %}">
<style type="text/css">
  .popover .popover-body {
    padding: 0em;
  }
</style>

<script type="text/javascript">
  $(document).ready(function () {
    $(".btn-sell").click(sell);
    $(".btn-buy:not(.disabled)").click(buy);
    $('[data-toggle="tooltip"]').tooltip({delay: {"show": 750, "hide": 0}});
    $('[data-toggle="popover"]').popover({
      html: true,
      trigger: 'focus',
      content: function() {
        $('#analysis-popularity').html($(this).data('popularity'));

        $('#analysis-bump-up').html($(this).data('bump-up'));
        $('#analysis-row-over').html($(this).data('row-over'));
        $('#analysis-bumped-down').html($(this).data('bumped-down'));

        if ($(this).data('bump-up') === '+0') {
          $('#analysis-bump-up-row').hide();
          $('#analysis-row-over-row').addClass('analysis-top-row');
          $('#analysis-row-over-row').find('.badge').addClass('badge-success').removeClass('badge-warning');
        } else {
          $('#analysis-bump-up-row').show();
          $('#analysis-row-over-row').removeClass('analysis-top-row');
          $('#analysis-row-over-row').find('.badge').removeClass(['badge-success', 'badge-danger']).addClass('badge-warning');
        }
        if ($(this).data('bumped-down') === '+0') {
          $('#analysis-bumped-down-row').hide();
          $('#analysis-row-over-row').find('.badge').addClass('badge-danger').removeClass('badge-warning');
        } else {
          $('#analysis-bumped-down-row').show();
        }

        return $('#analysis_wrapper').html();
      }
    });
  });

  function buy(event) {
    $("#buy-day").val($(event.target).data('day'));
    $("#buy-crew").val($(event.target).data('crew'));
    if ($("#buy-day").val() && $("#buy-crew").val()) {
      $("#buy-form").submit();
    };
  };

  function sell(event){
    $("#sell-purchase").val($(event.target).data('purchase'));
    if ($("#sell-purchase").val()) {
      $("#sell-form").submit();
    };
  };
</script>
{% endblock %}


{% block content %}
<div class="row"><div class="col">
  {% market_status_box day %}
</div></div>

<div class="row">
  {% if user.is_authenticated %}<div class="col-lg-5 order-lg-last">
    <div class="list-group sticky-top mb-3" style="z-index: 980">
      {% crew_list_box crew seats finances show_actions %}
      {% crew_status_box event gender crew_valid other_crew_valid %}
    </div>
    <br/>
  </div>{% endif %}
  
  <div class="col-lg order-lg-first">
    {% for division in start_order %}
      {% market_division_box division gender forloop.counter finances.balance|default:0 show_actions %}
    {% endfor %}
  </div>
</div>

<form id="buy-form" action="{% url 'fantasy:buy' %}" method="post">
  {% csrf_token %}
  <input id="buy-day" name="day" type="hidden" value=""/>
  <input id="buy-crew" name="crew" type="hidden" value=""/>
</form>

<form id="sell-form" action="{% url 'fantasy:sell' %}" method="post">
  {% csrf_token %}
  <input id="sell-event" name="event" type="hidden" value="{{ event.tag }}">
  <input id="sell-gender" name="gender" type="hidden" value="{{ gender }}">
  <input id="sell-purchase" name="purchase" type="hidden" value=""/>
</form>

<div id="analysis_wrapper" style="display: none">
  <table class="table table-sm text-center analysis-box">
    <tr class="analysis-top-row" id="analysis-bump-up-row">
      <td><span class="badge badge-success">+1</span></td>
      <td><span id="analysis-bump-up">-</span>{{ ''|currency }}</td>
    </tr>
    <tr id="analysis-row-over-row">
      <td><span class="badge badge-warning"><span class="oi oi-arrow-right"></span></span></td>
      <td><span id="analysis-row-over">-</span>{{ ''|currency }}</td>
    </tr>
    <tr id="analysis-bumped-down-row">
      <td><span class="badge badge-danger">&minus;1</span></td>
      <td><span id="analysis-bumped-down">-</span>{{ ''|currency }}</td>
    </tr>
    <tr>
      <td>Popularity</td>
      <td><span id="analysis-popularity">-</span></td>
    </tr>
  </table>
</div>

{% endblock%}
