{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block page_head %}
<style type="text/css">
  h5,h6 {
    margin-bottom: 0rem;
  }
  .rule-text {
    margin-left: 2.1rem;
    margin-bottom: 1rem;
  }
  .subrule-text {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="row"><div class="col">
  <div class="mb-3">
    <h2>Data Protection & Privacy Policy</h2>
    Because businesses big and small have shown time and time again that their only concept of responsibly handling personal data is to extract as much profit from it as they can as quickly as possible, Fantasy Bumps is obliged to acknowledge that it operates as a data processor and to describe how we are totally not selling your data for as much cash as can fit in a large brown envelope.
    Our data strip-mining activities are, regretfully & unprofitably, currently limited to just two areas.
  </div>
  <div class="mb-3">
    <h5>In relation to users</h5>
    Fantasy Bumps does not require users to submit any personal data to use our platform, and does not seek their personal data from elsewhere
    - Any personal data held about them is on the basis of consent and voluntary submission.
    Passwords and e-mail addresses will be kept private, but all other data provided will be made publicly available as part of the site's functionality.
    <em>Note that we are unable to provide password-reset functionality if we do not have an e-mail address linked to the account in question.</em>
  </div>
  <div class="mb-3">
    <h5>In relation to event participants</h5>
    Fantasy Bumps makes use of the publicly-available crew lists (and the personal data contained therein) for Oxford bumps events.
    This data is collected and processed in line with our legitimate interest of providing an interesting and engaging supplement to those events.
    The processing is limited to linking individuals with the crews they race in and the results those crews achieve.
    We are happy to remove our records of an individual if they object to this processing or if the data held is inaccurate.
    To request such a removal, please use <a href="https://forms.gle/4hAodcP9AWkH3iZt6" target="_blank">this form</a>.
  </div>
</div></div>
{% endblock%}
