{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block page_head %}
<style type="text/css">
  h5,h6 {
    margin-bottom: 0rem;
  }
  .rule-text {
    margin-left: 2.1rem;
    margin-bottom: 1rem;
  }
  .subrule-text {
    margin-left: 2.5rem;
    margin-bottom: 1rem;
  }
</style>
{% endblock %}

{% block content %}
<div class="row"><div class="col">
  <h2>Playing Guide</h2>
  <p>
    Fantasy Bumps is a game of prediction and speculation.
    Players are in charge of a men's and women's boat and pick athletes entering a bumps race that they think will deliver the best results.
  </p>
  <p>
    Each boat starts with a budget of {{ money.INITIAL_BALANCE|currency }} and these crabs can be spent however you choose.
    Crews higher up the river will cost more than those lower down, with the headship crew costing {{ money.PRICE_MAX|currency }} and the footship crew costing {{ money.PRICE_MIN|currency }}.
    These higher prices come with more risk and more reward, since crews higher up will gain more crabs if they bump or rowover and will lose more crabs if they get bumped.
  </p>
  <p class="mb-1">
    Athletes gain and lose crabs for their team in two ways:
  </p>
  <p class="ml-3 mb-0">
    The value of crews that gain or lose places will change to reflect their new position.
    Crews that gain places can be sold the next day for more crabs than were spent to buy them, while crews that lose places will return fewer crabs when sold than were spent.
    The gain/loss is simply the difference in the price of the places.
  </p>
  <em>
    <ul class="mb-1">
      <li>A Division 2 athlete originally worth {{ 112|currency }} that bumps up to a bungline worth {{ 118|currency }} has gained {{ 6|currency }} in value and can now be sold for the higher amount.</li>
      <li>The same athlete that gets bumped to a bungline worth {{ 97|currency }} has lost {{ 15|currency }} because it can only be sold for that lower value.</li>
      <li>If they row over, they can be sold for the same amount and there is no change in intrinsic value.</li>
    </ul>
  </em>
  <p class="ml-3 mb-0">
    Athletes that row over or gain places will also be awarded cash payouts, on top of any intrinsic value change.
    The reward is 7% of their value for a rowover, plus an additional 14% for each place gained.
    Headship crews are handled slightly differently, and a headship row over is valued at 17.5% to compensate for the fact that they cannot bump.
  </p>
  <em>
    <ul>
      <li>A crew in Division 1 valued at {{ 240|currency }} will be rewarded {{ 17|currency }} for a row over.</li>
      <li>A crew in Division 2 valued at {{ 130|currency }} will be rewarded {{ 27|currency }} if they gain one place.</li>
      <li>A crew in Division 4 valued at {{ 50|currency }} will be rewarded {{ 25|currency }} if they gain three places.</li>
      <li>The headship crew is worth {{ money.PRICE_MAX|currency }} and will be rewarded {{ 52|currency }} for a row over, rather than the standard {{ 21|currency }}.</li>
    </ul>
  </em>
  <p>
    Rewards and losses are evaluated at the end of each day and there is the opportunity to change your crew lists before the next day's racing.
    On day one, you will not have enough crabs to pick all high-valued crews so will need to pick your athletes carefully to get value from every seat.
    Later in the week, if your athletes are doing well, you will be able to pick more and more of the higher-valued crews and take bigger risks for even greater rewards.
  </p>
  <p>
    While it has no bearing on the mechanics of the game, crews are also assigned a <em>popularity index</em> to help you see which crews other players are backing - This is the average number of seats that players have purchased of that crew.
    Theoretically capped at 9, a popularity index closer to or above one indicates that the community think this crew will do well, while an index closer to zero suggests your crabs may be better spent elsewhere.
  </p>
</div></div>

<div class="row"><div class="col">
  <h2>Rules of <strike class="text-secondary">Racing</strike> Speculating</h2>
  
  <h5>F1. Do your subs!</h5>
  <div class="rule-text">
    As with all good rowing events, you must finalise who is competing before getting on the water.
    The markets will close 30 minutes before the first race each day and crew lists will then be locked in until {{ timings.market_delay_string }} after the last race when the markets re-open for the next day's racing.
    It is your responsibility to make sure any changes are completed by this deadline and your purchased crews are a true and accurate reflection of the crew you are entering.
  </div>

  <h5>F2. It takes nine to tango</h5>
  <div class="rule-text">
    Crews without a cox will struggle to stay on the straight and narrow, while crews missing a rower will find themselves rowing round in circles.
    For an entry to be considered "complete" you must have filled all nine seats in the boat.
    However, unlike the pen-pushers in Bay 4, we do not need you to actually name the athletes in your crew - only the crew purchases matter and you can leave names blank if you want to be boring.
    Athletes in incomplete crews will still see their values appreciate and depreciate as their boats rise and fall, but are ineligible for bump payouts.
  </div>

  <div class="rule-text">
    <h6>F2.1. Equal opportunities policy</h6>
    <div class="subrule-text">
      All Oxford clubs have both men's and women's boats, and so should all Fantasy Bumps teams.
      Bump payouts will only be awarded to teams that have completed both crews.
      This is not 2016.
      Or Cambridge.
    </div>
  </div>

  <h5>F3. Rowers can't cox & coxes can't row</h5>
  <div class="rule-text">
    It is a well known fact that rowers don't actually know what their cox does most of the time.
    For the safety of all involved, only the cox of the crew you have purchased for your coxing seat can sit there, even if one of the rowers has "been around a couple of years and how hard can it really be?".
    If you want a different cox you will have to buy a different crew for the coxing seat and use theirs.
    Similarly, you can't ask the cox of a crew you have bought for a rowing seat to sit there - they might injure themselves, the poor little things!
  </div>

  <h5>F4. Fantasy Bumps isn't fair</h5>
  <div class="rule-text">
    Bumps isn't fair and neither is Fantasy Bumps.
    Payouts will be determined using the results as they stand at {{ timings.advance_delay_string }}<sup>*</sup> after the last race to allow markets to re-open {{ timings.advance_delay_to_market_delay_string }} later and <em>will not be updated</em> if late-running appeals result in changes.
    However, these late changes will be implicitly included in the results the following day, and the savvy speculator is welcome to use this to supercharge their next day's line-up.
    <br/>
    <small><sup>*</sup> Fantasy Bumps uses <a href="https://bumps.live/" target="_blank">Live Bumps</a> as the sole source of results.</small>
  </div>

  And finally...
  <h5>F0. Don't be a dick</h5>
  <div class="rule-text">
    All team names must be respectful and decent.
    In particular, abuse or harassment of individuals, clubs, or organisations in the Oxford rowing community - including Oriel - may be removed without warning.
    This extends to <em>prima facie</em> complimentary/positive team names if an individual featured does not appreciate the attention.
    <br/>
    <em>Team names you feel violate this rule <a href="https://forms.gle/ko6b47SP8CHyBwwL8" target="_blank">can be reported here</a>.</em>
  </div>
</div></div>

<br/>
{% endblock%}
