{% extends 'core/base.html' %}
{% load fantasy_tags %}
{% load static %}

{% block page_head %}
<link rel="stylesheet" type="text/css" href="{% static 'fantasy/main.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'fantasy/club_styles.css' %}">
<meta name="robots" content="none">
{% endblock %}


{% block content %}

<h1 class="mb-3">Current crew lists for {{ team }}</h1>

<div class="row">
  <div class="col-md mb-3">
    <h3>Men's Crew</h3>
    {% crew_list_box mens_crew seats %}
  </div>
  <div class="col-md mb-3">
    <h3>Women's Crew</h3>
    {% crew_list_box womens_crew seats %}
  </div>
</div>

{% endblock %}
