{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block content %}
Fantasy Bumps leaderboard page for {{ event }}.

<table class="table table-hover table-sm">
  <thead class="thead-light">
    <th>Rank</th>
    <th>Team</th>
    <th><a href="{% url 'fantasybumps:leaderboard' event.tag %}">Total Score</a></th>
    <th><a href="{% url 'fantasybumps:leaderboard_men' event.tag %}">Men's Score</a></th>
    <th><a href="{% url 'fantasybumps:leaderboard_women' event.tag %}">Women's Score</a></th>
  </thead>
</table>

{% endblock %}
