{% extends 'core/base.html' %}
{% load fantasy_tags %}

{% block content %}

{% for div in start_order %}
  <ul class="list-group">
    <li class="list-group-item active">{{ gender }}'s Division {{ forloop.counter }}</li>
    {% for crew in div %}
      <li class="list-group-item">
        <div class="d-flex">
          <div><span class="badge badge-pill badge-primary">{{ forloop.counter }}</span></div>
          
          <div class="flex-grow-1">{{ crew }}</div>
          
          <div style="margin-right: 1rem;">£100</div>
          <div><button type="button" class="text-right btn btn-sm btn-primary">Buy</button></div>
        </div>
      </li>
    {% endfor %}
  </ul>
  <br/><br/>
{% endfor %}

{% if user.is_authenticated %}
  {% crew_list_box %}
{% endif %}

{% endblock%}
