{% extends 'core/base.html' %}

{% block page_head %}
<style type="text/css">
  .rule-text {
    margin-left: 2.1rem;
  }
  .subrule-text {
    margin-left: 2.5rem;
  }
</style>
{% endblock %}

{% block content %}
<br/>

<small>
  <h2>Rules of <strike class="text-secondary">Racing</strike> Speculating</h2>
  
  <h5>F1. Do your subs!</h5>
  <div class="rule-text mb-3">
    As with all good rowing events, you must finalise who is competing before getting on the water.
    The markets will close 30 minutes before the first race each day and crew lists will then be locked in until 8pm when the markets re-open for the next day's racing.
    It is your responsibility to make sure any changes are completed by this deadline and your purchased crews are a true and accurate reflection of the crew you are entering.
  </div>

  <h5>F2. It takes nine to tango</h5>
  <div class="rule-text mb-3">
    Crews without a cox will struggle to stay on the straight and narrow, while crews missing a rower will find themselves rowing round in circles.
    For an entry to be considered "complete" you must have filled all nine seats in the boat.
    However, unlike the pen-pushers in Bay 4, we do not need you to actually name the athletes in your crew - only the crew purchases matter and you can leave names blank if you want to be boring.
    Athletes in incomplete crews will still see their values appreciate and depreciate as their boats rise and fall, but are ineligible for bump payouts.
  </div>

  <div class="rule-text mb-3">
    <h6>F2.1. Equal opportunities policy</h6>
    <div class="subrule-text mb-3">
      All Oxford clubs have both men's and women's boats, and so should all Fantasy Bumps teams.
      Bump payouts will only be awarded to teams that have completed both crews.
      This is not 2016.
      Or Cambridge.
    </div>
  </div>

  <h5>F3. Rowers can't cox & coxes can't row</h5>
  <div class="rule-text mb-3">
    It is a well known fact that rowers don't actually know what their cox does most of the time.
    For the safety of all involved, only the cox of the crew you have purchased for your coxing seat can sit there, even if one of the rowers has "been around a couple of years and how hard can it really be?".
    If you want a different cox you will have to buy a different crew for the coxing seat and use theirs.
    Similarly, you can't ask the cox of a crew you have bought for a rowing seat to sit there - they might injure themselves, the poor little things!
  </div>

  <h5>F4. Fantasy Bumps isn't fair</h5>
  <div class="rule-text mb-3">
    Bumps isn't fair and neither is Fantasy Bumps.
    Payouts will be determined using the results as they stand at 7:45pm<sup>*</sup> to allow markets to re-open at 8pm and <em>will not be updated</em> if late-running appeals result in changes.
    However, these late changes will be implicitly included in the results the following day, and the savvy speculator is welcome to use this to supercharge their next day's line-up.
    <br/>
    <small><sup>*</sup> Fantasy Bumps uses <a href="https://bumps.live/">Live Bumps</a> as the sole source of results - thank you <a href="https://github.com/AuspeXeu">Chris Vaas</a>!</small>
  </div>

  And finally...
  <h5>F0. Don't be a dick</h5>
  <div class="rule-text mb-3">
    All team names must be respectful and decent.
    In particular, abuse or harassment of individuals, clubs, or organisations in the Oxford rowing community - including Oriel - may be removed without warning.
    This extends to <em>prima facie</em> complimentary/positive team names if an individual featured does not appreciate the attention.
  </div>
</small>

<br/>
{% endblock%}
