{% extends 'core/base.html' %}
{% load fantasy_tags %}
{% load static %}


{% block content %}
Alter puchase of {{ purchase.athlete }} ({{ purchase.crew }})
<br/><br/>

<form action="{% url 'fantasybumps:switch' purchase.id %}" method="post">
  {% csrf_token %}

  Pick athlete<br/>
  <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
    {% for rower in rowers %}
      <label class="btn {% if rower not in other_purchased_athletes and not rower.seat.cox %}btn-primary{% else %}btn-secondary disabled{% endif %}{% if rower == purchase.athlete %} active{% endif %}">
        {% if rower not in other_purchased_athletes and not rower.seat.cox %}
          <input type="radio" name="athlete" value="{{ rower.id }}" {% if rower == purchase.athlete %}checked{% endif %} />
        {% endif %}
        {{ rower }}
      </label>
    {% endfor %}
      <label class="btn btn-secondary{% if not purchase.athlete %} active{% endif %}">
        <input type="radio" name="athlete" value="0"{% if not purchase.athlete %} checked{% endif %} /> No athlete
      </label>
  </div>
  
  <div class="btn-group-vertical btn-group-toggle" data-toggle="buttons">
    {% for seat in seats %}
      <label class="btn {% if not seat.cox %}btn-primary{% else %}btn-secondary disabled{% endif %}{% if seat == purchase.seat %} active{% endif %}">
        {% if not seat.cox %}
          <input type="radio" name="seat" value="{{ seat.id }}"{% if seat == purchase.seat %} checked{% endif %} />
        {% endif %}
        {{ seat }}
      </label>
    {% endfor %}
  </div>
  
  <input class="btn btn-primary" type="submit" value="Make Change" />
</form>
{% endblock %}
