{% extends 'registration/base.html' %}

{% block form %}
<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  {{ form.non_field_errors }}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
      <td>{{ form.username.errors }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
      <td>{{ form.password.errors }}</td>
    </tr>
  </table>
  <input type="submit" value="login">
  <input type="hidden" name="next" value="{{ next }}">
</form>

<p><a href="{% url 'password_reset' %}">Lost password?</a></p>
{% endblock %}
