{% extends 'registration/base.html' %}

{% block auth_header %}Password reset{% endblock %}

{% block auth_text %}
Enter your e-mail address below to be sent instructions to reset your password.
{% endblock %}

{% block auth_form %}
<div class="form-row align-items-center">
  <div class="col">
    <input type="email" name="email" class="form-control form-control-sm" placeholder="Recovery address">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary btn-sm">Send</button>
  </div>
</div>
{% endblock %}
