{% extends 'registration/base.html' %}

{% block auth_header %}Password change{% endblock %}

{% block auth_text %}
Your new password must have eight characters, cannot be similar to your username, and cannot be commonly used.
{% endblock %}

{% block auth_form %}
<input type="password" name="old_password" required class="form-control form-control-sm mt-2" placeholder="Old password">
<input type="password" name="new_password1" required class="form-control form-control-sm mt-2" placeholder="New password">
<input type="password" name="new_password2" required class="form-control form-control-sm mt-2" placeholder="Retype new password">
<button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>
{% endblock %}
