
/* white-on-navy */
.club-chri, .club-quee, .club-shil, .club-sjoh, .club-trin, .club-chrc, .club-fatt {
  background-color: darkblue;
  color: white;
  border-color: darkblue;
}

/* yellow-on-navy */
.club-lady, .club-shug, .club-univ {
  background-color: darkblue;
  color: yellow;
  border-color: darkblue;
}

/* red-on-navy */
.club-ball, .club-corp, .club-sidn {
  background-color: darkblue;
  color: #c00;
  border-color: darkblue;
}

/* red-on-white */
.club-kebl, .club-osle {
  background-color: white;
  color: #c00;
}

/* navy-on-white */
.club-orie, .club-sben {
  background-color: white;
  color: darkblue;
  border-color: darkblue;
}

/* black-on-white */
.club-home, .club-murr {
  background-color: white;
  color: black;
}

/* white-on-red */
.club-exet, .club-rege, .club-ladc {
  background-color: #c00;
  color: white;
}

/* yellow-on-red */
.club-mans, .club-sant {
  background-color: #c00;
  color: yellow;
}

/* white-on-maroon */
.club-hert, .club-cocc { /* Source (Hertford): Wiki */
  background-color: #600;
  color: white;
}

/* white-on-black */
.club-magd, .club-trih {
  background-color: black;
  color: white;
  border-color: black;
}

/* black-on-pink */
.club-worc, .club-chur {
  background-color: hotpink;
  color: black;
}

/* white-on-purple */
.club-mert, .club-scac { /* Source (Merton): Wiki */
  background-color: #906;
  color: white;
}


/* Individual Oxford clubs */
.club-bras {
  background-color: black;
  color: #c00;
  border-color: goldenrod;
}
.club-grte {
  background-color: darkblue;
  color: gold;
  border-color: darkgreen;
}
.club-jesu { /* Source: Wiki */
  background-color: darkgreen;
  color: white;
  border-color: darkgreen;
}
.club-lina {
  background-color: gold;
  color: black;
  background-color: gold;
}
.club-linc {
  background-color: darkblue;
  color: lightblue;
  border-color: lightblue;
}
.club-newc { /* Source: Wiki */ 
  background-color: purple;
  color: goldenrod;  /* Not gold as per Wiki */
  border-color: goldenrod;
}
.club-pemb {
  background-color: white;
  color: hotpink;
  border-color: hotpink;
}
.club-reub {
  background-color: white;
  color: green;
  border-color: darkblue;
}
.club-some { /* Source: Wiki */
  background-color: red;
  color: black;
}
.club-sann {
  background-color: #c00;
  color: darkblue;
}
.club-scat { /* Source: Wiki */
  background-color: skyblue;
  color: darkred;
}
.club-sedm { /* Source: Wiki */
  background-color: #f0dc82;
  color: #801213;
}
.club-spet { /* Source: Wiki */
  background-color: #060;
  color: #fc0;
}
.club-wadh { /* Source: Wiki */
  background-color: lightblue;
  color: white;
  border-color: lightblue;
}
.club-wolf {
  background-color: gold;
  color: #c00;
}


/* Individual Cambridge clubs */
.club-adde {
  background-color: steelblue;
  color: white;
  border-color: #600;
}
.club-angl {
  background-color: black;
  color: orange;
}
.club-caiu {
  background-color: black;
  color: lightblue;
}
.club-clar, .club-clah {
  background-color: gold;
  color: red;
  border-color: black;
}
.club-darw {
  background-color: darkblue;
  color: gold;
  border-color: #b00;
}
.club-down {
  background-color: #906;
  color: black;
  border-color: #906;
}
.club-emma {
  background-color: darkblue;
  color: salmon;
  border-color: darkblue;
}
.club-fitz {
  background-color: lightgrey;
  color: black;
  border-color: lightgrey;
}
.club-girt {
  background-color: darkgreen;
  color: white;
  border-color: red;
}
.club-hugh {
  background-color: white;
  color: dodgerblue;
  border-color: darkblue;
}
.club-jesc {
  background-color: black;
  color: red;
  border-color: red;
}
.club-king {
  background-color: purple;
  color: white;
  border-color: purple;
}
.club-lucy {
  background-color: dodgerblue;
  color: midnightblue;
  border-color: midnightblue;
}
.club-magc {
  background-color: purple;
  color: midnightblue;
  border-color: midnightblue;
}
.club-newn {
  background-color: darkblue;
  color: grey;
  border-color: gold;
}
.club-pemc {
  background-color: skyblue;
  color: midnightblue;
  border-color: midnightblue;
}
.club-pete {
  background-color: blue;
  color: white;
  border-color: blue;
}
.club-quec {
  background-color: darkgreen;
  color: white;
  border-color: darkgreen;
}
.club-robi {
  background-color: dodgerblue;
  color: yellow;
  border-color: dodgerblue;
}
.club-sedc {
  background-color: dodgerblue;
  color: white;
  border-color: skyblue;
}
.club-selw {
  background-color: white;
  color: gold;
  border-color: #600;
}
.club-wolc {
  background-color: blue;
  color: gold;
  border-color: blue;
} 


/* Other hacks */
.club-first {
  background-color: goldenrod;
  color: darkgoldenrod;
  border-color: darkgoldenrod;
}

.club-second {
  background-color: silver;
  color: grey;
  border-color: grey;
}

.club-third {
  background-color: #c73;
  color: #840;
  border-color: #840;
}

.club-other {
  background-color: #cbd6e3;
  color: #67a;
  border-color: #67a;
}
