
/* white-on-navy */
.club-chri, .club-quee, .club-shil, .club-sjoh, .club-trin {
  background-color: darkblue;
  color: white;
  border-color: darkblue;
}

/* yellow-on-navy */
.club-lady, .club-shug, .club-univ {
  background-color: darkblue;
  color: yellow;
  border-color: darkblue;
}

/* red-on-navy */
.club-ball, .club-corp {
  background-color: darkblue;
  color: #c00;
  border-color: darkblue;
}

/* red-on-white */
.club-kebl, .club-osle {
  background-color: white;
  color: #c00;
}

/* navy-on-white */
.club-orie, .club-sben {
  background-color: white;
  color: darkblue;
  border-color: darkblue;
}

/* white-on-red */
.club-exet, .club-rege {
  background-color: #c00;
  color: white;
}

/* yellow-on-red */
.club-mans, .club-sant {
  background-color: #c00;
  color: yellow;
}


.club-bras {
  background-color: black;
  color: #c00;
  border-color: goldenrod;
}

.club-grte {
  background-color: darkblue;
  color: gold;
  border-color: darkgreen;
}
.club-hert { /* Source: Wiki */
  background-color: #600;
  color: white;
}
.club-jesu { /* Source: Wiki */
  background-color: darkgreen;
  color: white;
  border-color: darkgreen;
}
.club-lina {
  background-color: gold;
  color: black;
  background-color: gold;
}
.club-linc {
  background-color: darkblue;
  color: lightblue;
  border-color: lightblue;
}
.club-magd {
  background-color: black;
  color: white;
  border-color: black;
}
.club-mert { /* Source: Wiki */
  background-color: #906;
  color: white;
}
.club-newc { /* Source: Wiki */ 
  background-color: purple;
  color: goldenrod;  /* Not gold as per Wiki */
  border-color: goldenrod;
}
.club-pemb {
  background-color: white;
  color: hotpink;
  border-color: hotpink;
}
.club-some { /* Source: Wiki */
  background-color: red;
  color: black;
}
.club-sann {
  background-color: #c00;
  color: darkblue;
}
.club-scat { /* Source: Wiki */
  background-color: skyblue;
  color: darkred;
}
.club-sedm { /* Source: Wiki */
  background-color: #f0dc82;
  color: #801213;
}
.club-spet { /* Source: Wiki */
  background-color: #060;
  color: #fc0;
}
.club-wadh { /* Source: Wiki */
  background-color: lightblue;
  color: white;
  border-color: lightblue;
}
.club-wolf {
  background-color: gold;
  color: #c00;
}
.club-worc {
  background-color: hotpink;
  color: black;
}


/* Other hacks */
.club-first {
  background-color: goldenrod;
  color: darkgoldenrod;
  border-color: darkgoldenrod;
}

.club-second {
  background-color: silver;
  color: grey;
  border-color: grey;
}

.club-third {
  background-color: #c73;
  color: #840;
  border-color: #840;
}

.club-other {
  background-color: #cbd6e3;
  color: #67a;
  border-color: #67a;
}
