.avatar {
  display: table-cell;
  height: 1.9em;
  width: 1.9em;
  border: 0.15em solid black;
  border-radius: 50%;
  
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  
  box-shadow: 4px 4px 4px grey;
}

.btn-buy {
  width: 6.7em;
}

.btn-sell {
  width: 6.6em;
}

.popularity-row, .market-row, .crew-row {
  display: flex;
  align-items: center;
}

.popularity-row .avatar,
.market-row .avatar,
.crew-row .avatar {
  margin-right: 0.7em;
}

.market-row button, .crew-row button {
  margin-left: 1em;
}

.popularity-row {
  padding: 0.3em;
  padding-right: 0.5em;
}

.popularity-row :last-child {
  margin-left: 1em;
}

.market-row, .crew-row {
  height: 3.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.crew-row-athlete {
  margin-top: -0.3em;
  margin-right: 0.75em;
  overflow: hidden;
}
.crew-row-athlete div:first-child {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.crew-row-athlete div:last-child {
  font-size: 0.8em;
}

.results-pill {
  font-size: 10pt;
  margin: 0em;
}
.results-pill :first-child {
  border-radius: 1em 0em 0em 1em;
  width: 2.5em;
}
.results-pill :nth-child(2) {
  width: 0.15em;
}
.results-pill :last-child {
  border-radius: 0em 1em 1em 0em;
  width: 2.5em;
}

.analysis-box.table {
  margin-bottom: 0em;
}

.analysis-box tr.analysis-top-row td {
  border-top: 0px;
}

.btn-switch {
  display: block;
  width: 1.5em;
  vertical-align: middle;
}
