{% extends "registration/base.html" %}

{% block auth_header %}Signed out{% endblock %}

{% block auth_text %}
You have been signed out.
<br/><br/>
<div class="row justify-content-center">
  <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Sign in</a>
</div>
{% endblock %}
