{% extends 'registration/base.html' %}

{% block auth_header %}Password reset{% endblock %}

{% block auth_text %}{% if validlink %}
Your new password must have eight characters, cannot be similar to your username, and cannot be commonly used.
{% else %}
The password reset link was invalid. It might have already been used.
<br/><br/>
<div class="row justify-content-around">
  <a href="{% url 'signup' %}" class="btn btn-primary btn-sm">Sign up</a>
  <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Sign in</a>
  <a href="{% url 'password_reset' %}" class="btn btn-primary btn-sm">Reset password</a>
</div>
{% endif %}{% endblock %}

{% block auth_form %}{% if validlink %}
<input type="password" name="new_password1" required class="form-control form-control-sm mt-2" placeholder="New password">
<input type="password" name="new_password2" required class="form-control form-control-sm mt-2" placeholder="Retype new password">
<button type="submit" class="btn btn-primary btn-sm mt-3">Submit</button>
{% endif %}{% endblock %}
