{% extends "registration/base.html" %}

{% block auth_header %}Password change complete{% endblock %}

{% block auth_text %}
Your password has been changed.
<div class="row justify-content-center mt-3">
  <a href="{% url 'index' %}" class="btn btn-primary btn-sm">Return to game</a>
</div>
{% endblock %}
