{% extends 'registration/base.html' %}

{% block auth_header %}Password reset complete{% endblock %}

{% block auth_text %}
Your password has been reset. You can now sign in using the new password.
<div class="row justify-content-center mt-3">
  <a href="{% url 'login' %}" class="btn btn-primary btn-sm">Sign in</a>
</div>
{% endblock %}
