{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Fantasy Bumps</title>

<!-- Bootstrap -->
<link rel="stylesheet" href="{% static 'core/bootstrap.min.css' %}" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css" integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap -->

<link rel="shortcut icon" type="image/x-icon" href="{% static 'favicon.ico' %}" >

{% block page_head %}{% endblock %}

</head>

<body>

{% include 'core/nav.html' %}

<div class="container">
<div class="row"><div class="col mb-3"><!-- Page-top spacing --></div></div>
{% include 'core/messages.html' %}
{% block content %}
{% endblock %}
</div>

</body>
</html>
