{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible" role="alert">
  {{ message }}
  <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
</div>
{% endfor %}
