<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  
  <a class="navbar-brand" href="{% url 'fantasy:index' %}">Fantasy Bumps</a>
  
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_menu">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbar_menu">
    <div class="navbar-nav">
      {% if event %}
      <a class="nav-item navbar-brand" href="{% url 'fantasy:event' event.tag %}">{{ event }}</a>
      {% endif %}
      {% include 'core/nav-events-dropdown.html' %}
      {% if event %}
      <a class="nav-item nav-link" href="{% url 'fantasy:men' event.tag %}">Men</a>
      <a class="nav-item nav-link" href="{% url 'fantasy:women' event.tag %}">Women</a>
      <a class="nav-item nav-link" href="{% url 'fantasy:leaderboard' event.tag %}">Leaderboard</a>
      {% include 'core/nav-events-dropdown.html' with link_text='Other Events' %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Information</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'fantasy:rules' event.tag %}">Guide & Rules</a>
          <a class="dropdown-item" href="{% url 'fantasy:privacy' event.tag %}">Privacy Policy</a>
        </div>
      </div>
      {% else %}
      {% include 'core/nav-events-dropdown.html'  with link_text='Events' %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Information</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'fantasy:rules' %}">Guide & Rules</a>
          <a class="dropdown-item" href="{% url 'fantasy:privacy' %}">Privacy Policy</a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  
  <div class="collapse navbar-collapse justify-content-end" id="navbar_menu">
    <div class="navbar-nav">
      {% if user.is_authenticated %}
      <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">
          {{ user.username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          {% if event %}<a class="dropdown-item" href="{% url 'fantasy:team' event.tag user.username %}">My Crews</a>{% endif %}
          <a class="dropdown-item" href="{% url 'profile'%}">My Account</a>
          <div class="dropdown-divider"></div>
          <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="dropdown-item">Sign out</button>
          </form>
        </div>
      </div>
      {% else %}
      <a class="nav-item nav-link" href="{% url 'login' %}"><button class="btn btn-outline-light btn-sm" type="button">Sign in</button></a>
      {% endif %}
    </div>
  </div>
  
</nav>